/* 
font-family: 'Alkatra', cursive;
font-family: 'Poppins', sans-serif;

*/

:root {
  --bg: #eff0f3;
  --bg2: #fffffe;
  --button: #ff8e3c;
  --head: #0d0d0d;
  --p: #2a2a2a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* navbar */
nav {
  height: 4rem;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0 1px 1px var(--button);
}

nav .logo {
  font-size: 1.6rem;
}

nav .logo span {
  color: var(--button);
  font-family: "Alkatra", cursive;
}
nav .nav-links {
  display: flex;
}

nav .nav-links a {
  color: var(--head);
  padding: 0 0.5rem;
}

nav .nav-links a::after {
  content: "";
  display: block;
  /* padding-bottom: 0.5rem; */
  border-bottom: 2px solid var(--button);
  transform: scaleX(0);
  transition: 0.2s linear;
}

nav .nav-links a:hover {
  color: #d6d6d6;
}
nav .nav-links a:hover::after {
  transform: scaleX(0.7);
}

.res-icon {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 1rem;
}

/* main */
#home {
  height: 100vh;
  text-align: center;
  padding: 7rem 0 0;
  position: relative;
  overflow: hidden;
}

#home .foto {
  width: 200px;
  border-radius: 4rem 0 4rem 0;
  box-shadow: 2px 2px 10px var(--button);
  position: relative;
  z-index: 99;
}

#home .nama {
  font-size: 2rem;
  padding-top: 0.5rem;
  position: relative;
  z-index: 99;
}

#home .nama span {
  color: var(--button);
}

#home .title {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  position: relative;
  z-index: 99;
}

#home .title span {
  color: var(--button);
  font-family: "Alkatra", cursive;
  position: relative;
}

#home .title span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  border-left: 2px solid var(--button);
  animation: typing 4s steps(13) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

#home .btn a {
  display: inline-block;
  border: 1px solid var(--button);
  outline: none;
  cursor: pointer;
  padding: 1rem 2rem;
  background-color: var(--button);
  color: var(--head);
  border-radius: 10px;
  transition: 0.2s linear;
  position: relative;
  z-index: 99;
}
#home .btn {
  padding-bottom: 1rem;
}

#home .btn a:hover {
  background-color: var(--bg2);
  border: 1px solid var(--button);
  color: var(--button);
}

#home .social-media a {
  color: black;
  padding: 0 1.2rem;
  transition: 0.2s linear;
  position: relative;
  z-index: 99;
}

#home .social-media a:hover {
  color: var(--button);
}

/* about */
.about {
  height: 100vh;
  padding: 0 2rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.about .container-about {
  padding: 7rem 4rem 0;
}

.about .container-about .title-about {
  font-size: 2rem;
  padding-bottom: 2rem;
  transition: 0.6s;
}

.about .container-about h2 span {
  font-family: "Alkatra", cursive;
  color: var(--button);
}

.about .container-about .teks-about {
  font-weight: 300;
  line-height: 2.5;
  position: relative;
  left: -20rem;
  opacity: 0;
  transition: 0.7s;
  z-index: 99;
}

/* skills */
.skills {
  height: 100vh;
  padding: 7rem 0;
  position: relative;
  overflow: hidden;
}

.skills .container-skills h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
  position: relative;
  transition: 0.6s;
  z-index: 99;
}

.skills .container-skills h2 span {
  font-family: "Alkatra", cursive;
  color: var(--button);
}

.skills .container-skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  position: relative;
  z-index: 99;
}

.skills .container-skills ul li {
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 1rem 2rem;
  background-color: white;
  border: 1px solid var(--button);
  width: 25%;
  border-radius: 10px;
  transition: 0.2s linear;
}

.skills .container-skills ul li img {
  width: 25%;
}

.skills .container-skills ul li p {
  padding-left: 1rem;
}

.skills .container-skills ul li:hover {
  transform: scale(1.1);
  background-color: var(--button);
}

/* sertifikat */
.sertifikat {
  height: 100vh;
  padding: 7rem 0 7rem;
  position: relative;
}

.sertifikat h2 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
  position: relative;
  transition: 0.6s;
  z-index: 99;
}

.sertifikat h2 span {
  color: var(--button);
  font-family: "Alkatra", cursive;
}

.sertifikat .container-sertifikat {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  position: relative;
  z-index: 99;
  height: 100%;
  overflow: scroll;
}

.sertifikat .container-sertifikat .box-sertifikat {
  width: 350px;
  height: 300px;
  /* border: 1px solid black; */
}

.sertifikat .container-sertifikat .box-sertifikat a {
  display: inline-block;
  width: 100%;
  height: 80%;
  /* border: 1px solid black; */
  box-shadow: 0 0 7px var(--button);
  position: relative;
}

.sertifikat .container-sertifikat .box-sertifikat a .gambar {
  width: 100%;
  height: 100%;
}

.sertifikat .container-sertifikat .box-sertifikat .keterangan {
  text-align: center;
  font-size: 1rem;
}

.sertifikat .container-sertifikat .box-sertifikat a::before {
  content: "Download File";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: scale(0);
  color: white;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.5);
}

.sertifikat .container-sertifikat .box-sertifikat a:hover::before {
  transform: scale(1);
}

/* Kontak */
.contact {
  height: 100vh;
  padding: 7rem 0;
  position: relative;
  overflow: hidden;
}

.contact h2 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 2rem;
  position: relative;
  transition: 0.6s;
}

.contact h2 span {
  font-family: "Alkatra", cursive;
  color: var(--button);
}

.contact h3 {
  text-align: center;
  font-family: "Alkatra", cursive;
  font-size: 1.5rem;
  padding-bottom: 2rem;
  position: relative;
  transition: 0.7s;
}

.contact .wrapper-contact {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 99;
}

.contact .wrapper-contact .box-contact {
  background-color: rgba(239, 240, 243, 0.9);
  border: 1px solid var(--button);
  width: 700px;
  height: 400px;
  padding: 2rem;
  border-radius: 10px;
  position: relative;
  transition: 0.7s;
}

.contact #info {
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
  background-color: var(--p);
  color: white;
}
.contact .wrapper-contact .box-contact .row1 {
  display: flex;
  gap: 5px;
  padding-bottom: 1rem;
}

.contact .wrapper-contact .box-contact .row1 .nama {
  width: 45%;
}

.contact .wrapper-contact .box-contact .row1 .nama label {
  display: block;
}

.contact .wrapper-contact .box-contact .row1 .nama #nama {
  width: 100%;
  padding: 0.5rem;
}
.contact .wrapper-contact .box-contact .row1 .email {
  width: 45%;
}

.contact .wrapper-contact .box-contact .row1 .email label {
  display: block;
}

.contact .wrapper-contact .box-contact .row1 .email #email {
  width: 100%;
  padding: 0.5rem;
}

.contact .wrapper-contact .box-contact .row2 {
  margin-bottom: 1rem;
}

.contact .wrapper-contact .box-contact .row2 label {
  display: block;
}
.contact .wrapper-contact .box-contact .row2 #pesan {
  width: 91%;
  height: 100px;
  padding: 0.5rem;
}

.contact .wrapper-contact .box-contact input,
textarea {
  outline: none;
  border: 1px solid var(--button);
}

.contact .wrapper-contact .box-contact #nama:focus {
  box-shadow: 0 0 5px var(--button);
}
.contact .wrapper-contact .box-contact #email:focus {
  box-shadow: 0 0 5px var(--button);
}
.contact .wrapper-contact .box-contact textarea:focus {
  box-shadow: 0 0 5px var(--button);
}

.contact .wrapper-contact .box-contact .row3 {
  text-align: center;
}

.contact .wrapper-contact .box-contact .row3 button {
  display: inline-block;
  padding: 0.5rem 2rem;
  outline: none;
  border: 1px solid var(--button);
  background-color: white;
  color: var(--button);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s linear;
}

.contact .wrapper-contact .box-contact .row3 button:hover {
  background-color: var(--button);
  color: var(--head);
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--p);
}

footer p {
  color: white;
}

footer p a {
  color: var(--button);
}

/* shape */
#shape1 {
  position: absolute;
  top: 15rem;
  left: 0;
  width: 400px;
}
#shape2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  transform: rotate(200deg);
}
#shape3 {
  position: absolute;
  bottom: -40px;
  right: 0;
  width: 400px;
}
/* #shape4 {
  position: absolute;
  bottom: 0;
  left: -30px;
  width: 700px;
} */

#shape5 {
  position: absolute;
  top: 4rem;
  right: 0;
  width: 600px;
}

#shape6 {
  position: absolute;
  top: 0;
  left: -30px;
  width: 250px;
}

#shape7 {
  position: absolute;
  top: 20rem;
  right: 0;
  width: 500px;
}

/* responsive */
/* Tablet */
@media screen and (max-width: 840px) {
  .res-icon {
    display: inline-block;
  }

  nav .nav-links {
    display: inline-block;
    position: fixed;
    width: 250px;
    top: 4rem;
    right: -100%;
    background-color: white;
    border: 1px solid var(--button);
    transition: 0.2s linear;
  }

  nav .nav-links a {
    display: block;
    padding: 1.5rem 2rem;
  }
  nav .nav-links a::after {
    transform-origin: 0 0;
  }
  nav .nav-links a:hover::after {
    transform: scaleX(0.2);
  }

  nav .x {
    display: none;
  }

  #home .foto {
    width: 200px;
  }

  #sertifikat .box-sertifikat {
    width: 300px;
    height: 250px;
  }
  #shape1 {
    width: 300px;
    top: 35rem;
  }
  #shape2 {
    width: 300px;
  }
  #shape3 {
    width: 300px;
  }
  #shape4 {
    width: 500px;
  }
  #shape5 {
    width: 450px;
  }
  #shape6 {
    width: 200px;
    top: -35px;
  }
  #shape7 {
    width: 400px;
  }
}

/* Mobile Phone */
@media screen and (max-width: 450px) {
  html {
    font-size: 70%;
  }
  #home .foto {
    width: 100px;
  }
  #home .btn {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #home .btn a {
    padding: 1rem 10rem;
  }
  .about .container-about {
    padding: 5rem 4rem 0;
  }
  .skills {
    padding: 6rem 0;
  }
  .skills .container-skills ul {
    padding: 0 3rem;
  }
  .skills .container-skills ul li {
    width: 100%;
    border-radius: 5px;
  }
  .skills .container-skills ul li img {
    width: 15%;
  }
  #sertifikat .box-sertifikat {
    width: 300px;
    height: 250px;
  }
  .contact .wrapper-contact .box-contact .row1 {
    flex-wrap: wrap;
  }
  .contact .wrapper-contact .box-contact .row1 .nama {
    width: 100%;
  }
  .contact .wrapper-contact .box-contact .row1 .email {
    width: 100%;
  }
  .contact .wrapper-contact .box-contact .row3 button {
    padding: 0.5rem 10rem;
  }
  .contact .wrapper-contact .box-contact .row2 #pesan {
    width: 100%;
  }
  .contact h3 {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .sertifikat {
    height: 100vh;
  }
  .sertifikat .container-sertifikat {
    height: 100%;
    overflow-y: scroll;
  }
  #shape1 {
    width: 250px;
    top: 30rem;
  }
  #shape2 {
    width: 200px;
  }
  #shape3 {
    width: 250px;
    top: 40rem;
  }
  #shape4 {
    width: 400px;
    top: 10rem;
  }
  #shape5 {
    width: 400px;
    top: 10rem;
  }
  #shape6 {
    width: 150px;
    top: -25px;
  }
  #shape7 {
    width: 400px;
  }
}
